<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PrivateAssemblies;PublicAssemblies;TfsAssemblies"/>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.7.0.0" newVersion="8.7.0.0" />
      </dependentAssembly>
      <!-- Needed for Microsoft.Azure.Storage.DataMovement.dll -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-11.2.3.0" newVersion="11.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Blob" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-11.2.3.0" newVersion="11.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.File" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-11.2.3.0" newVersion="11.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Below are possible appSettings keys recognized by the application.  To add a key: <add key="Key_Name" value="value"/> -->
  <!-- LogSizeLimitInMegs: Maximum allowable size of log file, 0 allows size limited by disk space. -->
  <!-- ServerConnectionPeriodInSeconds: Number of seconds between attempts to connect to the tfs. Default: 10-->
  <!-- TaskPollingPeriodInSeconds: Initial time interval in seconds between attempts to poll for a task from tfs. Interval is exponentially increased till MaxTaskPollingPeriodInSeconds value is achieved after which interval becomes constant. Value is restricted between 2 to 60 seconds. Default: 3 -->
  <!-- MaxTaskPollingPeriodInSeconds: Maximum time interval in seconds(that is exponentially achievable) between attempts to poll for a task from tfs. If this value is lower than TaskPollingPeriodInSeconds, then constant interval of MaxTaskPollingPeriodInSeconds is used for polling. Value is restricted between 2 and 60. Default: 10 -->
  <appSettings>
    <!--
    <add key="TaskPollingPeriodInSeconds" value="3"/>
    <add key="MaxTaskPollingPeriodInSeconds" value="10"/>
    <add key="TestDropPath" value="C:\Tests"/>
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
