<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Disable VssClient from loading client certificates, to improve performance -->
    <add key="DisableClientCertificates" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>

    <!-- 
        Enable TLS 1.2 and disable SSL 3.0 (when running on .NET 4.6); allow Windows to decide what TLS versions to use instead of a hard-coded list in .NET (when running on .NET 4.7).
        Can be removed once we *target* .NET Framework >= 4.7

        Users *running* on .NET below 4.6 will need to ensure their systems have all security patches and set registry settings to enable TLS 1.2:
            reg add HKLM\SOFTWARE\Microsoft\.NETFramework\v2.0.50727 /v SchUseStrongCrypto /t REG_DWORD /d 1 /f /reg:64
            reg add HKLM\SOFTWARE\Microsoft\.NETFramework\v2.0.50727 /v SchUseStrongCrypto /t REG_DWORD /d 1 /f /reg:32
            reg add HKLM\SOFTWARE\Microsoft\.NETFramework\v4.0.30319 /v SchUseStrongCrypto /t REG_DWORD /d 1 /f /reg:64
            reg add HKLM\SOFTWARE\Microsoft\.NETFramework\v4.0.30319 /v SchUseStrongCrypto /t REG_DWORD /d 1 /f /reg:32
    -->
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=false;Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
  </runtime>
</configuration>