<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- This binding redirect is necessary to suppress the warning about mismatched versions of Newtonsoft.Json among dependencies
           However, the two versions may not be compatible. Without the binding redirect, though, it fail in the absence of both in the bindir
           or probing path. The diamond needs to be worked out -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.7.0.0" newVersion="8.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <!--To enable tracing to file, simply uncomment listeners section and set trace switch(es) below.
          Directory specified for TextWriterTraceListener output must exist, and testagent account must have write permissions. -->
      <!--<listeners>
        <add name="myListener" 
          type="System.Diagnostics.TextWriterTraceListener" 
          initializeData="C:\Replace_Me_With_A_Directory_The_TestAgent_Account_Can_Write_To\DTAExecutionHost.exe.log" />
        <remove name="Default" />
      </listeners>-->
    </trace>
    <switches>
      <!-- You must use integral values for "value".
           Use 0 for off, 1 for error, 2 for warn, 3 for info, and 4 for verbose. -->
      <add name="TestAgentTraceLevel" value="2" />
    </switches>
  </system.diagnostics>
</configuration>